body {
    background: linear-gradient(#000000 10px, #1a0000 5%, #4d0000 20%, #730000 50%, #8B0000 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    cursor: none;
    transform-origin: top center;
    margin: 0;
    overflow-x: hidden;
  }
  
  #canvas {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }

  .logo {
    position: fixed;
    top: 20px;
    left: 20px;
    background: rgba(255, 255, 255, 0.1);
    padding: 5px;
    border-radius: 120px;
    backdrop-filter: blur(5px);
    z-index: 4;
  }

  .blocco-bianco {
    position: relative;
    width: 100%;
    height: 150vh;
    margin-top: 160vh;
    background-color: #E0E0E0;
    margin-top: -30%;
    z-index: -6;
  }

  /* IMMAGGINI */
  
  .logo img {
    width: clamp(60px, 12vw, 170px);
    height: auto;
    border-radius: 50%;
  }
  
  .filo {
    position: relative;
    width: 100%; 
    z-index: -3;
    margin-top: -65%;
    margin-left: 1%;
  }
  
  #penna {
    position: fixed;
    z-index: -3;
    inset: 0;
    width: 100%;
    height: 100vh;
    opacity: 1;
    filter: blur(0px);
    transition: 1.8s ease, filter 1.8s ease;
    pointer-events: none;
  }
  
  #foto {
    clip-path: inset(0 2% 0 0 );
    position: relative;
    margin-left: 54%;
    margin-top: -32%;
    width: 47%;
    height: 100vh;
    z-index: -2;
    border-radius: 2cm 0 0cm 0;
    opacity: 0;
  }
  
  #foto.visible {
    opacity: 1;
  }
  
  #striscia {
    clip-path: inset(0 0 0 28% );
    width: 105%;
    height: auto;
    opacity: 0;
    z-index: -1;
    margin-left: -30%;
    margin-top: -60%;
    transform: translateY(50px);
    transition: opacity 0.2s linear, transform 0.2s linear;
  }
  
  #striscia.visible {
    opacity: 1;
    transform: translateY(0);
  }
  
  .tenebre {
    position: relative;
    width: 45%;
    height: 94vh;
    margin-left: 2%;
    margin-top: -173%;
    z-index: -4;
  }
  
  /* FUNZIONI */

  del {
    position: relative;
    text-decoration: none;
    color: white;
  }
  
  del::after {
    content: "";
    position: absolute;
    left: 0;
    top: calc(50% + 3px);
    height: 2px;
    width: 0%;
    background: red;
    transition: width 0.8s ease;
  }
  
  del.cancellato::after {
    width: 100%;
  }
  
  mark {
    color: #FFFFFF;
    background: linear-gradient(to right, #FFD700 100%, transparent 0);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    transition: background-size 1s ease, color 1s ease;
  }
  
  mark.attivo {
    background-size: 100% 100%;
    color: #000000;
  }
  
  .cursor {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: transform 150ms ease-in-out;
    border: 2px solid white;
    mix-blend-mode: difference;
    cursor: none;
  }
  
  .linea {
    width: 100%;
    position: relative;
    height: 1.4vh;
    margin-top: -3%;
    background: linear-gradient(to right, transparent, #E0E0E0, transparent);
    transform: scaleX(0);
    transform-origin: center;
    z-index: 4;
  }
  
  .linea.expand {
    animation: expandWidth 2s forwards;
  }

.shape{
  position:relative;
  margin-top: 30%;
  top:50%;
  left:50%;

  width:150%;
  height: 10vh;

  background:black;

  transform:translate(-50%, -50%);
  z-index: -7;

  opacity:0;
  transform-origin: center;
  will-change: transform, opacity;
  backface-visibility: hidden;
}
  
  #bloccomano{
    position: relative;
    width: 80;
    height: 80%;
    margin-top: -20%;
    margin-left: 40%;
    opacity: 0;
    z-index: 5;
  }
  
  #bloccomano.visible{
    opacity: 1;
  }

  #mano {
    width: 48%;
    position: relative;
    height: 10%;
    margin-left: 48%;
    margin-top: -37%;
    z-index: 5;
    opacity: 0;
    transition: opacity 2s ease;
  }
  
  #mano.visible {
    opacity: 1;
  }
  
  #biglietto {
    clip-path: inset(0 5% 0 2% );
    position: relative;
    width: 16%;
    height: 40%;
    margin-left: 70%;
    margin-top: -2%;
    z-index: 4;
    border-radius: 0.4cm;
    opacity: 0;
    transition: opacity 2s ease;
    transform: rotate(8.5deg);
  }
  
  #biglietto.visible {
    opacity: 1;
  }
  
  @keyframes expandWidth {
    to {
        transform: scaleX(1);
    }
  }

  /* TESTO */
  
  #changing-text {
    display: block;
    text-align: center;
    white-space: nowrap;
    color: #FFFFFF;
    font-family: "Story Script";
    margin-top: 20%;
    font-size: 500%;;
  }

  #transazione {
    opacity: 0;
    transition: opacity 2.5s ease;
  }
  
  #transazione.visible {
    opacity: 1;
  }

  #subheadline {
    color: #FFD700;
    text-align: center;
    font-size: 180%;
    margin-top: -22%;
    opacity: 0;
    transition: opacity 2.5s ease;
    position: relative;
  }
  
  #subheadline.visible {
    opacity: 1;
  }
  
  #final-text {
    opacity: 0;
    transition: opacity 0.8s ease, transform 0.8s ease;
    font-family: 'Story Script';
    font-size: 500%;
    margin-top: 1%;
    text-align: center;
    color: #FFFFFF;
  }
  
  #attenzione {
    color: #FFFFFF;
    font-size: 300%;
    margin-top: 3%;
    text-align: center;
    font-family: 'Story Script';
  }

  .contenitore {
    margin-top: 10%;
  }
  
  #attenzione-testo {
    position: relative;
    margin-top: -2%;
    font-size: 156%;
    max-width: 60%;
    color: #FFFFFF;
    z-index: 1;
    line-height: 2;
  }
  
  #problema {
    position: relative;
    z-index: 4;
    margin-top: -75%;
    font-size: 230%;
    min-height: 60vh;
    max-width: 55%;
    margin-left: 1%;
    font-family: 'Fraunces';
    line-height: 2;
  }
  
  #problematesto {
    position: relative;
    z-index: 4;
    font-size: 160%;
    margin-top: -48%;
    max-width: 45%;
    transform: translateX(115%);
    line-height: 2;
  }
  
  #soluzione {
    font-size: 290%;
    text-align: center;
    max-width: 45%;
    transform: translateX(115%);
    margin-top: 14%;
    color: #4B1037;
  }
  
  #soluzione-testo {
    font-size: 10%;
    color: #eaeaea;
    text-align: center;
  }
  
  #soluzionegrande {
    font-size: 10%;
    color: #eaeaea;
    text-align: center;
  }
  
  #importante {
    font-family: "Story Script";
    text-align: center;
    font-size: 10%;
  }
  
  #azione {
    color: #eaeaea;
    font-size: 200%;
    margin-top: -20%;
  }
  #azione-testo {
    color: #eaeaea;
  }
  
  .blocco-viola {
    background: linear-gradient(180deg, #6d3a99 0%, #3a145f 25%, #2a0e45 55%, #12061f 100%);
    color: #eaeaea;
    width: 25%;
    height: 60vh;
    margin-left: 65%;
    margin-top: 20%;
    padding: 10px 5px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  ul {
    list-style-position: inside;
    padding-left: 0;
  }
  
  .blocco-blu {
    background: linear-gradient(#000814 0%, #001d3d 25%, #003566 55%, #005f73 100%);
    color: #eaeaea;
    padding: 15px 20px;
    margin: 80px auto;
    width: 10%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    line-height: 2;
  }
  
  #copywriter {
    font-size: 10%;
    text-align: center;
    line-height: 2;
    color: #eaeaea;
  }
  
  #copywriter2 {
    font-size: 10%;
    text-align: center;
    line-height: 2;
    color: #eaeaea;
  }
  
  #copywriterspazio {
    font-size: 10%;
    text-align: center;
    line-height: 6;
    color: #eaeaea;
  }
  
  .blocco-verde {
    background: linear-gradient(180deg, #011302 0%, #071b11 20%, #0d2f20 45%, #0e2e1f 70%, #0a492d 100%);
    padding: 15px 20px;
    width: 10%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    line-height: 2;
  }
  
  #perchecopywriter {
    color: #eaeaea;
    text-align: center;
    font-size: 10%;
  }
  
  .btn {
    padding: 25px 38px;
    font-size: 20px;
    font-family: inherit;
    color: #ffffff;
    background-color: #8B0000;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
    transform: translate(640px, 60px);
  }
  
  .btn:hover {
    transform: translate(645px, 60px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.6);
    filter: brightness(1.15);
  }
  
  #azienda {
    color: #eaeaea;
    width: auto;
  }
  
